<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.data>
        <DbProviderFactories>
            <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
                type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
        </DbProviderFactories>
    </system.data>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <publisherPolicy apply="no"/>
                <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
                <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

  <appSettings>
    <add key="DBConnection" value="Place your connection string here"/>
    <add key="DBCommand" value="select Letter_fileName, Name_Letter_File, Letter_data from MASTER_LETTER_FILES"/>
    <add key="DBFileNameColumn" value="Letter_fileName"/>
    <add key="DBLongRawColumn" value="Letter_data"/>
    <add key="OutputFolder" value="c:\temp\letters\"/>
  </appSettings>
</configuration>